

<div class="cart container">
<h1>MOCK WEB APP CHECKOUT</h1> <p> (Thanks Team MeanGreens!)</p>

<h2>Your Cart</h2>
  <table class="table table-hover">
    <thead>
      <tr class="success">
        <th>Blend</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in items">
        <td>{{ item.name }}</td>
        <td>
        <input type="number" min="0" ng-model="item.quantity">
        </input>
        </td>
        <td></td>
        <td>HTG 146.00</td>
        <td><a href ng-click="removeItem($index)">X</a></td>
      </tr>
      <tr>
        <td> The Mega Bowl </td>
        <td> 1 </td>
        <td> HTG 146.00 </td>
        <td> HTG 146.00 </td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <!-- TCHO PAY MOCK -->
  <!-- BUTTON CONTAINER HTML -->
  <div id="button-container" style="width: 50px; height: 50px; margin: 0 auto;">
      <button id="checkout-button">Checkout</button>
    <!-- BUTTON CONTAINER SCRIPT -->
      <script id="tchopay-script" src="http://localhost:1337/tchopay.js" class="" data-key="pk_43c3de5c36c7cab5a8d7690c7aafb146a3336698" data-amount="146" data-transactionHashValue="" data-timestamp="" data-notrack="">
      </script>
  </div>

  <button class='btn btn-success' ng-click="clearCart()">Clear Cart</button>

</div>




